body{
    color: #999;
    background-image: url(../image/SingInBackGroundImage.jpg);
    font-family: 'Black Ops One', cursive;
    background-size: cover;
}
.form-control{
    min-height: 41px;
    box-shadow: none;
    border-color: #e1e1e1;
}
.form-control:focus{
    border-color: #00cb82;
}
.form-control, .btn{
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
.form-header{
    margin: -30px -30px 20px;
    padding: 30px 30px 10px;
    text-align: center;
    background: #00cb82;
    border-bottom: 1px solid #eee;
    color: #ffffff;
}
.form-header h2{
    font-size: 34px;
    font-weight: bold;
    margin: 0px 0px 10px;
    font-family: 'Fredericka the Great', cursive;
}
.form-header p{
    margin: 20px 0px 15px;
    font-size: 17px;
    line-height: normal;
    font-family: 'Fredericka the Great', cursive;
}
.sing-form{
    width: 400px;
    margin: 0 auto;
    padding: 30px 0px;
}
.sing-form form{
    color: #999;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    margin-bottom: 15px;
    background: #f0f0f0 !important;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.sing-form .form-group{
    margin-bottom: 20px;
}
.sing-form label{
    font-weight: bold;
    font-size: 17px;
}
.sing-form .btn{
    font-size: 16px;
    font-weight: bold;
    background: #00cb82;
    border: none;
    min-width: 200px;
}
.sing-form .btn:hover, .sing-form .btn:focus{
    background: #00b073 !important;
    outline: none;
}
.sing-form .small{
    font-size: 16px !important;
} 
.sing-form a{
    color: #00cb82;
    font-size: 16px;
}
.sing-form a:hover{
    text-decoration: underline;
}




